.form_containar
{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.form_containar form
{
  width: 95%;
}
.form_containar form input
{
  height: 60px;
  width: 100%;
  border-radius: 15px;
  background-color: #132c33;
  border: 1px solid #ade3cf;
  padding: 0 10px;
  color: white;
  margin-top: 10px;
}
.form_containar form .inline{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}
.form_containar form .type_checkbox{
  width: 20px;
  height: 20px;
}
.form_containar form .type_file{
  height: auto;
  width: auto;
  border-radius: none;
  background-color: transparent;
  border: none;
  padding:auto;
  color: white;
}
.form_containar form select{
  background: black;
  margin: 10px;
}
.form_containar form button
{
  height: 50px;
  width: 100%;
  border-radius: 50px;
  background-color: #694c06;
  color: white;
  border: none;
  margin-top: 10px;
  font-size: 16px;
}
.form_containar a{
  text-decoration: none;
  color: #a1d3db;
}
.alert{
  color: red;
  margin-top: 5px;
}